.tile {
   cursor: default;
}

.tile-dark {
   background: gray;
   width: 75px;
   height: 75px;
   text-align: center;
   float: left;
}

.tile-light {
   background: white;
   width: 75px;
   height: 75px;
   text-align: center;
   float: left;
}

.board{
   font-family: dejavu_sans_monobook;
   font-size: 54px;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.board-row{
  display: block;
  clear: both;
}

.selected {
   background: cornflowerblue !important;
}