table, th, td {
   cursor: pointer;
} 

.dark {
   background: gray;
   width: 75px;
   height: 75px;
   text-align: center;
}

.light {
   background: white;
   width: 75px;
   height: 75px;
   text-align: center;
}

.selected {
   background: cornflowerblue !important;
}